@for (counter of counters; track counter; let i = $index) {
  <div class="counter-element" [attr.aria-label]="counter.value">
    @for (digit of formatCounter(counter.value); track $index) {
      <span class="digit-window">
        <span class="digit-strip" [style.transform]="'translateY(-' + digitValue(digit) * 1.35 + 'em)'">
          @for (wheelDigit of digitWheel; track wheelDigit) {
            <span class="digit-tile">{{ wheelDigit }}</span>
          }
        </span>
      </span>
    }
  </div>
}
