<section class="portfolio" id="portfolio">
  <h1 class="heading"> my <span>{{portfolio?.title}}</span> </h1>
  <div class="box-container">
    <div class="box">
      <img src="{{portfolio?.projList[0].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[0].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[1].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[1].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[2].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[2].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[3].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[3].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[4].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[4].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[5].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[5].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[6].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[6].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[7].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[7].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[8].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[8].projName}}</h3>
      </div>
    </div>
    <div class="box">
      <img src="{{portfolio?.projList[9].imageUrl}}" alt="">
      <div class="content">
        <h3>{{portfolio?.projList[9].projName}}</h3>
      </div>
    </div>
  </div>
</section>
