<header class="header" #header>

    <div class="user">
        <img src="assets/img/user-img.jpg" alt="">
        <h3>Kumar Shan</h3>
        <p>front-end developer</p>
    </div>

    <nav class="navbar">
        <a *ngFor="let item of appOptions" [attr.href]="'#'+item" (click)="selectedOption(item)">{{item}}</a>
    </nav>

</header>

<!-- header section ends -->

<div id="menu-btn" #menubtn  class="fas fa-bars" (click)="menuClick()"></div>

<!-- theme toggler  -->

<div id="theme-toggler" #themeToggler  (click)="themeTogglerClick()" class="fas fa-moon"></div>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Kumar Shan</h3>
        <p>i am a front-end developer</p>
        <a href="assets/cv/Kumaravel_Shanmugam_Web_Developer.pdf" class="btn" download>download CV</a>
    </div>

    <div class="share">
        <a href="https://github.com/kumaruidivloper" class="fab fa-git" target="_blank"></a>
        <a href="https://www.linkedin.com/in/kumar-shan-85933624/" class="fab fa-linkedin" target="_blank"></a>
    </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> me </h1>

    <div class="row">

        <div class="box-container">
            <div class="box">
                <h3>15+</h3>
                <p>years of experience</p>
            </div>
            <div class="box">
                <h3>15+</h3>
                <p>satisfied clients</p>
            </div>
            <div class="box">
                <h3>35500+</h3>
                <p>working hours</p>
            </div>
            <div class="box">
                <h3>10+</h3>
                <p>Applications</p>
            </div>
        </div>

        <div class="content">
            <h3>Hi, I’m Kumar Shan. <span>Nice to meet you.</span></h3>
            <p>15+ years of experience in website development. Expertise in engineering robust and user-centric solutions to drive breakthrough 
              efficiency and enhance the overall client experience. Proficient in guiding teams in a variety of environments 
              and executing mission-critical projects.For the last 15 years I have dedicated my life to building the best 
              developments on the web. I am very good at making them powerful, user-centric and able to offer you efficiency that improves 
              your experience. I have gained a lot of experience during this time and I can help bring out creativity in all kinds of environments as well.</p>
            <a href="#" class="btn" (click)="selectedOption('home')">contact me</a>
        </div>

    </div>

    <div class="row">

        <div class="progress">
            <h3> angular <span class="bar">{{barRange(90)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(90) : ''"></span></div>
            <h3> rxjs <span class="bar">{{barRange(75)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(75) : ''"></span></div>
            <h3> ngrx & ngxs <span class="bar">{{barRange(60)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(60) : ''"></span></div>
            <h3> photoshop <span class="bar">{{barRange(40)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(40) : ''"></span></div>
        </div>

        <div class="progress">
            <h3> HTML <span class="bar">{{barRange(95)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(95) : ''"></span></div>
            <h3> CSS <span class="bar">{{barRange(80)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(80) : ''"></span></div>
            <h3> javascript <span class="bar">{{barRange(75)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(75) : ''"></span></div>
            <h3> typescript <span class="bar">{{barRange(70)}}</span></h3>
            <div class="bar"><span [style.transition]="transition" [style.width]="barAnimation ? barRange(70) : ''"></span></div>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> I'm proud to have collaborated with some awesome  <span>companies</span> </h1>

    <div class="box-container">

        <div class="box">
          <i class="fas fa-thumbtack"></i>
            <h3>Dart Innovation & Technologies Pvt Ltd</h3>
            <p>
              <b>From:</b><span>&nbsp;25-05-2007</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;30-04-2010</span>
            </p>
        </div>

        <div class="box">
            <i class="fas fa-paint-brush"></i>
            <h3>Xentaqsys Technologies</h3>
            <p>
              <b>From:</b><span>&nbsp;11-05-2010</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;30-08-2010</span>
            </p>
        </div>

        <div class="box">
            <i class="fas fa-mobile"></i>
            <h3>Schindlers Management Services Pvt Ltd</h3>
            <p>
              <b>From:</b><span>&nbsp;17-11-2010</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;07-03-2011</span>
            </p>
        </div>

        <div class="box">
          <i class="fas fa-swatchbook"></i>
            <h3>Cognizant Technology and Solution India Pvt Ltd</h3>
            <p>
              <b>From:</b><span>&nbsp;09-03-2011</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;21-07-2017</span>
            </p>
        </div>

        <div class="box">
          <i class="fas fa-truck"></i>
            <h3>Volvo Group India Pvt Ltd</h3>
            <p>
              <b>From:</b><span>&nbsp;27-07-2017</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;30-11-2018</span>
            </p>
        </div>

        <div class="box">
          <i class="fas fa-volleyball-ball"></i>
            <h3>MindTree Ltd</h3>
            <p>
              <b>From:</b><span>&nbsp;06-12-2018</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;31-07-2019</span>
            </p>
        </div>

        <div class="box">
          <i class="fas fa-wind"></i>
            <h3>Boeing India Services Pvt Ltd</h3>
            <p>
              <b>From:</b><span>&nbsp;13-08-2019</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;10-10-2019</span>
            </p>
        </div>

        <div class="box">
          <i class="fas fa-volume-up"></i>
            <h3>Harman International Pvt Ltd</h3>
            <p>
              <b>From:</b><span>&nbsp;17-10-2019</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;28-09-2021</span>
            </p>
        </div>

        <div class="box">
          <i class="fas fa-clock"></i>
            <h3>Tata consultancy services</h3>
            <p>
              <b>From:</b><span>&nbsp;25-10-2021</span> &nbsp; &nbsp; <span>Till Date</span>
            </p>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- portfolio section starts  -->

<section class="portfolio" id="portfolio">

    <h1 class="heading"> my <span>portfolio</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/img/img-1.jpg" alt="">
            <div class="content">
                <h3>project 01</h3>
            </div>
        </div>

        <div class="box">
            <img src="assets/img/img-2.jpg" alt="">
            <div class="content">
                <h3>project 02</h3>
            </div>
        </div>

        <div class="box">
            <img src="assets/img/img-3.jpg" alt="">
            <div class="content">
                <h3>project 03</h3>
            </div>
        </div>

        <div class="box">
            <img src="assets/img/img-4.jpg" alt="">
            <div class="content">
                <h3>project 04</h3>
            </div>
        </div>

        <div class="box">
            <img src="assets/img/img-5.jpg" alt="">
            <div class="content">
                <h3>project 05</h3>
            </div>
        </div>

        <div class="box">
            <img src="assets/img/img-6.jpg" alt="">
            <div class="content">
                <h3>project 06</h3>
            </div>
        </div>

    </div>

</section>

<!-- portfolio section ends -->

<!-- contact section starts -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> me </h1>

    <form action="">
        <input type="text" placeholder="your name" class="box">
        <input type="email" placeholder="your email" class="box">
        <input type="text" placeholder="subject" class="box">
        <textarea name="" class="box" placeholder="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>

</section>

<!-- contact section ends -->

<div class="credits"> created by <span>mr. Kumar Shan</span> | all rights reserved </div>