.progress span.bar {
    font-size: 1em;
    line-height: 0.1;
    padding: 2rem;
    color: var(--green);
}

.wrapper.disappear {
    opacity: 1;
    transition-delay: 0.5s linear;
}

.wrapper {
    background: var(--bg-color);
    display: table;
    height: 0px;
    position: fixed;
    right: -22px;
    top: 130px;
    width: 136px;
    color: var(--black);
    transform: rotate(90deg);
    opacity: 0;
    transition-delay: 0.5s linear;

    .innerwrapper {
        display:table-cell;
        vertical-align:middle;
    }

    .bar.move {
        box-shadow: var(--box-shadow);
        border-radius: 5rem;
        height: 2.5rem;
        padding: 0.8rem;
        margin: 1rem 0;
        position:relative;
        -webkit-animation: backandforth 3s ease 0s;
        -webkit-animation-iteration-count:infinite;
        animation: backandforth 3s ease 0s;
        animation-iteration-count:infinite;
        cursor: default;
    }

    @-webkit-keyframes backandforth {0%{left:0;} 50%{left:58%;} 100%{left:0;}}

    @keyframes backandforth {0%{left:0;} 50%{left:100%;} 100%{left:0;}}
}
.auto-scroll
{
    width: 39px;
    height: 28px;
    position: fixed;
    bottom: 100px;
    right: 31px;
    padding: 3px 5px 5px 4px;
    border-radius: 1em;
    text-align: center;
    z-index: 9999;
    color: var(--black);
    font-size: 1.5em;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}


.custom-loader {
    width: 140px;
    height: 140px;
    background:
      radial-gradient(farthest-side,#fdb813 90%,#0000) center/32px 32px,
      radial-gradient(farthest-side,#047cfb 90%,#0000) bottom/24px 24px;
    background-repeat: no-repeat;
    animation: s7 2s infinite linear;
    position: relative;
  }
  .custom-loader::before {    
    content:"";
    position: absolute;
    width:16px;
    height:16px;
    inset:auto 0 32px;
    margin: auto;
    background:#9E9EA4;
    border-radius: 50%;
    transform-origin: 50% calc(100% + 20px);
    animation:inherit;
    animation-duration: 1s;
  }
  
  
  @keyframes s7 { 
    100%{transform: rotate(1turn)}
  }

  .overlay {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #000;
    opacity: 0.997;
    z-index: 99999;
  }

  .landingTextStyle {
    padding: 2rem; 
    font-size: 3rem; 
    color: #3686ff;
  }
  .W100 {
    width: 100%;
  }
  .overlayButtonContainer {
    width: 100%; 
    padding: 8px; 
    text-align: center; 
    font-size: 1.8rem; 
    color: #fff;
  }
  .buttonBg {
    cursor: pointer; 
    display: inline-block; 
    padding: 5px 15px; 
    background-color: red; 
    border-radius: 2rem;
  }
  .accordionBg {
    width: 100%; 
    padding: 2rem;  
    background-image: linear-gradient(20deg, #08aeea 0%, #2af598 100%); 
    overflow:auto;
  }
  
  .content
  {
    .javaScript-ref-link {
      display: block;
      margin: 6rem 0 0 0;
      border-radius: 5rem;
      font-size: 1.5rem;
      box-shadow: var(--box-shadow);
      color: var(--black);
      padding: 1rem 4rem;
    }
    .javaScript-ref-link:hover
    {
      box-shadow: var(--box-shadow-inset);
      color: var(--green);
    }
  }

  /* Put this code in your CSS file */

/* The div container */
.qrcodeImage {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Add custom styles here */
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.Qr-form {
  padding: 60px 15px 15px 15px;
  position: relative;
  span.close {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    right: 31px;
    top: 75px;
    color: var(--black);
    border: solid 2px var(--black);
    border-radius: 2rem;
    padding: 3px 8px;
  }
  span.close:hover {
    color: #fdb813;
    border: solid 3px var(--black);
  }
  .qr-input-box {
    width:350px;
    padding: 8px 15px;
    border-radius: 1rem;
  }
  .qr-input-box::placeholder {
    font-size: 1.2rem;
  }
  .qr-gen-button {
    padding: 8px;
  }
}
.Qr-form .box {
  padding: 1rem 5rem 1rem 1rem;
  width: 375px;
  background: none;
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}


.Qr-form .box:focus {
  box-shadow: var(--box-shadow-inset);
}
app-counter {
  display: inline-block;
}
.box.work-hr {
  h3 {
    font-size: 4rem;
  }
  p {
    padding-top: 1.6rem;
  }
}





