.progress span.bar {
    font-size: 1em;
    line-height: 0.1;
    padding: 2rem;
    color: var(--green);
}

.wrapper.disappear {
    opacity: 1;
    transition-delay: 0.5s linear;
}

.wrapper {
    background: var(--bg-color);
    display: table;
    height: 0px;
    position: fixed;
    right: -22px;
    top: 130px;
    width: 136px;
    color: var(--black);
    transform: rotate(90deg);
    opacity: 0;
    transition-delay: 0.5s linear;

    .innerwrapper {
        display:table-cell;
        vertical-align:middle;
    }

    .bar.move {
        box-shadow: var(--box-shadow);
        border-radius: 5rem;
        height: 2.5rem;
        padding: 0.8rem;
        margin: 1rem 0;
        position:relative;
        -webkit-animation: backandforth 3s ease 0s;
        -webkit-animation-iteration-count:infinite;
        animation: backandforth 3s ease 0s;
        animation-iteration-count:infinite;
        cursor: default;
    }

    @-webkit-keyframes backandforth {0%{left:0;} 50%{left:58%;} 100%{left:0;}}

    @keyframes backandforth {0%{left:0;} 50%{left:100%;} 100%{left:0;}}
}
.auto-scroll
{
    width: 39px;
    height: 28px;
    position: fixed;
    bottom: 100px;
    right: 31px;
    padding: 3px 5px 5px 4px;
    border-radius: 1em;
    text-align: center;
    z-index: 9999;
    color: var(--black);
    font-size: 1.5em;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}





