@if (!isDataLoaded) {
  <div class="loader">
    <div  class="custom-loader"></div>
</div>
}
@if (isDataLoaded) {
  @if (false) {
    <app-stopwatch></app-stopwatch>
  }
  @if (isOverlay) {
    <div class="overlay" [ngStyle] = "{'height.px': contentHeight}" [ngClass]="isOverlay ? 'scrollOff':''">
      <div class="overlayButtonContainer">
        <span class="buttonBg" (click)="closeOverlay()">close</span>
      </div>
      <div class="accordionBg">
        <app-accordion
          [options]="options"
        [menus]="menus"></app-accordion>
      </div>
    </div>
  }
  <header class="header" #header>
    <div class="user">
      <a href="#"><img class="img-animation" src="{{data.intro[0].userImage}}" alt=""></a>
      <h3>{{data.intro[0].name}}</h3>
      <p>{{data.intro[0].menuTitle}}</p>
    </div>
    <nav class="navbar">
      @for (item of appOptions; track item) {
        <a [attr.href]="'#'+item" (click)="selectedOption(item)">{{item}}</a>
      }
    </nav>
  </header>
  <!-- header section ends -->
  @if (!isOverlay) {
    <div id="menu-btn" #menubtn  class="fas fa-bars" (click)="menuClick()"></div>
  }
  <div class="wrapper" [ngClass]="isVisible ? 'disappear': ''">
    <div calss="innerwrapper">
      @if (isDarkeMode) {
        <span span class="bar move">{{data.themeMode[0].dark}}</span>
      }
      @if (!isDarkeMode) {
        <span span class="bar move">{{data.themeMode[0].light}}</span>
      }
    </div>
  </div>
  <div class="auto-scroll" (click)="scrollTop()">
    @if (!isScrollBottom) {
      <i class="fa fa-caret-up"></i>
    }
    @if (isScrollBottom) {
      <i class="fa fa-caret-down"></i>
    }
    <i class="fa-regular fa-circle-down"></i>
  </div>
  <div id="theme-toggler" #themeToggler  (click)="themeTogglerClick()" class="fas fa-moon">
  </div>
  <!-- home section starts  -->
  <section class="home" [ngClass]="isOverlay ? 'scrollOff':''" id="home">
    <div class="content">
      <h3>{{data.intro[0].name}}</h3>
      <p>{{data.intro[0].title}}</p>
      <a href="{{data.intro[0].profilePath}}" class="btn" download>{{data.intro[0].buttonName}}</a>
    </div>
    <div class="content">
      @if (contentHeight) {
        <a href="#" class="javaScript-ref-link" (click)="getNote()">JavaScrpit Reference</a>
      }
    </div>
    <div class="content">
      <div class="Qr-form">
        <span class="close" (click)="QrReset()">X</span>
        <input class="qr-input-box box" [(ngModel)]="inputValue" placeholder="Enter your text here to generate the QR code..." (keyup)="qrValueCheck()">
        <!-- <p>You entered: {{ inputValue }}</p> -->
      </div>
      @if (!isButtonDisabled) {
        <div class="qrcodeImage">
          <!--[imageSrc]="'assets/img/user-img.jpg'" we can add this prop to add image QR code center-->
          <qrcode class="qr-code-placeholder"
            [qrdata]="inputValue"
            [allowEmptyString]="true"
            [ariaLabel]="'QR Code image with the following content...'"
            [cssClass]="'center'"
            [colorDark]="'#000000ff'"
            [colorLight]="'#ffffffff'"
            [elementType]="'canvas'"
            [imageSrc]="'assets/img/user-img.jpg'"
            [errorCorrectionLevel]="'M'"
            [imageHeight]="50"
            [imageWidth]="50"
            [margin]="1"
            [scale]="1"
            [title]="'QR Code For' + ' ' + '(' + inputValue + ')'"
            [width]="200"
          ></qrcode>
        </div>
      }
    </div>
    <div class="share">
      <a href="{{data.intro[0].gitUrl}}" class="fab fa-git" target="_blank"></a>
      <a href="{{data.intro[0].linkedIn}}" class="fab fa-linkedin" target="_blank"></a>
    </div>
  </section>
  <!-- home section ends -->
  <!-- about section starts  -->
  <section class="about" id="about">
    <h1 class="heading"><span>{{data.aboutMe.about}}</span> {{data.aboutMe.me}} </h1>
    <div class="row">
      <div class="box-container">
        <div class="box stat-box">
          <h3><app-counter [stopRange]="[addExperienceCount(2007, 0)]"></app-counter>+</h3>
          <p>{{data.aboutMe.textYearTitle}}</p>
        </div>
        <div class="box stat-box">
          <h3><app-counter [stopRange]="[23]"></app-counter>+</h3>
          <p>{{data.aboutMe.clientFeedBack}}</p>
        </div>
        <app-work-hours [label]="data.aboutMe.workingfHrText"></app-work-hours>
        <div class="box stat-box">
          <h3><app-counter [stopRange]="[58]"></app-counter>+</h3>
          <p>{{data.aboutMe.applicationText}}</p>
        </div>
      </div>
      <div class="content">
        <h3>Hi, <span class="greeting">{{greeting}}</span>, I'm {{data.intro[0].name}}. <span>{{data.content.nice}}</span></h3>
        <p><span class="experience-highlight"><app-counter [stopRange]="[addExperienceCount(2007, 0)]"></app-counter>+ </span>{{introText(data.content.intro)}}</p>
        <p><a href="#" class="btn" (click)="selectedOption('home')">{{data.content.contectText}}</a></p>
      </div>
    </div>
    <app-about-skills 
      [technology]="data.technology"
      [barAnimation]="barAnimation"
      [transition]="transition"
      [barRange]="barRange">
    </app-about-skills>
  </section>
  <!-- about section ends -->
   <section class="services" id="services">
    <app-work-experience
    [companyDeatils]="data.companyDeatils"
    [proud]="data.proud">
   </app-work-experience>
   </section>
  <!-- services section ends -->
  <app-portfolio [portfolio]="data.portFolio"></app-portfolio>
  <!-- contact section starts -->
  <section class="contact" id="contact">
    <h1 class="heading"> <span>contact</span> me </h1>
    <form action="">
      <input type="text" placeholder="your name" class="box">
      <input type="email" placeholder="your email" class="box">
      <input type="text" placeholder="subject" class="box">
      <textarea name="" class="box" placeholder="your message" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="send message" class="btn">
    </form>
  </section>
  <!-- contact section ends -->
  <footer class="credits">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <span> © Copyright {{currentYear}} &nbsp;</span>created by
    <span>mr. Kumar Shan</span> | all rights reserved
  </footer>
}