<section class="services" id="services">
  <h1 class="heading"> {{proud?.title}} <span>{{proud?.companies}}</span> </h1>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-thumbtack"></i>
      <h3>{{companyDeatils?.companies[0].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[0].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[0].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fas fa-paint-brush"></i>
      <h3>{{companyDeatils?.companies[1].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[1].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[1].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fas fa-mobile"></i>
      <h3>{{companyDeatils?.companies[2].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[2].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[2].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fas fa-swatchbook"></i>
      <h3>{{companyDeatils?.companies[3].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[3].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[3].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fas fa-truck"></i>
      <h3>{{companyDeatils?.companies[4].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[4].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[4].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fas fa-volleyball-ball"></i>
      <h3>{{companyDeatils?.companies[5].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[5].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[5].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fa fa-plane"></i>
      <h3>{{companyDeatils?.companies[6].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[6].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[6].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fas fa-volume-up"></i>
      <h3>{{companyDeatils?.companies[7].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[7].from}}</span> &nbsp; &nbsp; <b>To:</b><span>&nbsp;{{companyDeatils?.companies[7].to}}</span>
      </p>
    </div>
    <div class="box">
      <i class="fas fa-clock"></i>
      <h3>{{companyDeatils?.companies[8].name}}</h3>
      <p>
        <b>From:</b><span>&nbsp;{{companyDeatils?.companies[8].from}}</span> &nbsp; &nbsp; <span>{{companyDeatils?.companies[8].to}}</span>
      </p>
    </div>
  </div>
</section>
