:host {
  display: flex;
  width: 100%;
}

.box.work-hr {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 100%;
  min-height: 14rem;

  h3 {
    font-size: 4rem;
    white-space: nowrap;
  }

  p {
    margin-top: auto;
    padding-top: 1.6rem;
  }
}

.box.work-hr h3.actual-work-hours {
  transition: all 0.3s ease;
}

.box.work-hr h3.actual-work-hours.small,
.box.work-hr h3.animCounter.small {
  position: absolute;
  top: 0.8rem;
  z-index: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.2rem;
  line-height: 1;
  white-space: nowrap;
}

.box.work-hr h3.actual-work-hours.small {
  left: 0.8rem;
}

.box.work-hr h3.animCounter.small {
  right: 0.8rem;
}

.box.work-hr h3.actual-work-hours.large,
.box.work-hr h3.animCounter.large {
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
  background: none;
  color: var(--black);
  font-size: 4rem;
}

.work-time-status {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.85rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}

.work-time-status.on-hours {
  background-color: #198754;
}

.work-time-status.off-hours {
  background-color: #dc3545;
}

.animCounter {
  margin-top: 0;
}

@media (max-width: 450px) {
  .box.work-hr {
    min-height: 13rem;
  }
}
