<div class="timer" [@timerAnimation]="timerState">
    <div>
      <label for="timerInput">Set Timer Duration (minutes): </label>
      <input type="number" id="timerInput" [(ngModel)]="userInputDuration" />
      <button (click)="setAndStartTimer()">Set & Start</button>
      <button (click)="stopTimer()">Stop</button>
      <button (click)="resetTimer()">Reset</button>
    </div>
    {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}.<span [@millisecondsAnimation]="timerState">{{ milliseconds | number: '3.0-0' }}</span>
  </div>